body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.bordered{
    border-color: '#DDD';
    border:1px;
}

li {
    padding-top:4px;
}

.inputor{
    overflow-y:scroll;
}

.inline {
    display:inline;
}

.input-group {
    display: inline-table;
    vertical-align: middle;
}

.input-group .input-group-addon,
.input-group .input-group-btn,
.input-group .form-control {
        width: auto !important;
    }